//- call to action
mj-section(background-color='#ffffff' padding='0')
    mj-column(width='500px')
        mj-button(css-class='hover' href='https://employeurs.soltea.education.gouv.fr/idp/ta5/oauth/authorize?provider=netentreprise&target=employeur&response_type=code&client_id=819066ca-4142-4050-bc4e-94442482ef27&state=SnJYenpYbEV6bU8yQUF2YmtTNUxEVUlGOFZBX3RSaldPc2NEcU1seURiSmJj&redirect_uri=https:%2F%2Femployeurs.soltea.education.gouv.fr%2Fespace-prive%2F&scope=openid%20profile%20TA5_READ%20TA5_WRITE&code_challenge=coOv530E3CTK6ajNlby303D839rM0nJcsBZmj_PKOi0&code_challenge_method=S256&nonce=SnJYenpYbEV6bU8yQUF2YmtTNUxEVUlGOFZBX3RSaldPc2NEcU1seURiSmJj') Versement Taxe Apprentissage