//- logo Ecosup Assurance
mj-section(background-color='#ffffff' padding-bottom='0')
    mj-column(width='250px')
        mj-image(width='100px' src='https://img.mailinblue.com/3403292/images/content_library/original/6631e75e524b5b6d34b88b1b.png' alt='Logo Ecosup Assurance')/