//- Hero Image
mj-section(background-color='#ffffff' padding-bottom='0')
    mj-column(width='600px' padding='0') 
        mj-image(width='600px' src='https://i.ibb.co/SQTmQDf/Plan-de-travail-2.jpg' alt='étudiants joyeux en bichromie')        
            
            
            
            
            
            
            
            
