//- Signature
mj-section(background-color='#ffffff')
    mj-group(width='450px')
        mj-column(width='40%')
            mj-image(align='right' width='120px' src='https://i.ibb.co/DkTGx9w/Christianjpo25052024.jpg' alt='Christian Annaloro, responsable pédagogique d\'Ecosup Campus')
        mj-column(width='60%')
            mj-text(align='left' font-size='16px' font-weight='400' line-height='20px') Merci de votre soutien
            mj-text(align='left' padding-bottom='0' font-size='16px' font-weight='700' line-height='20px') Christian #[span(style='text-transform:uppercase;') Annaloro]
            mj-text(align='left' padding-top='0' padding-bottom='0' font-size='16px' font-weight='400' line-height='20px') Responsable pédagogique
            mj-text(align='left' padding-top='0' font-size='16px' font-weight='400' line-height='20px') Ecosup Assurance