mjml
    //- Head
    mj-head
        mj-title Opération Taxe Apprentissage 2024
        mj-raw.
            <meta name="color-scheme" content="light"></meta>
            <meta name="supported-color-schemes" content="light"></meta>
        mj-attributes
            mj-all(Arial, Helvetica, sans-serif)/
            mj-image(padding='0' border='none')/
            //- mj-button(background-color='#BA4995' font-size='16px' line-height='20px' font-weight='500' inner-padding='15px 30px' border-radius='10px')/
        mj-style.
            .hover:hover td, .hover:hover a{
                background-color: #684092 !important;
            }
    //- Body
    mj-body(background-color='#edf2f7')
        //- contenu
        block content
        //- signature
        block signature
            include ../includes/_signature
        //- Block TA
        block Taxe Apprentissage
            include ../includes/_TA
        //- FOOTER
        //- footer adresse
        block adresse
            include ../includes/_adresse
        //- footer réseaux sociaux
        block resociaux
            include ../includes/_resociaux
        //- footer législation
        block regl
            include ../includes/_regl