mjml
    //- Head
    mj-head
        mj-title Opération Taxe Apprentissage 2024
        mj-raw.
            <meta name="color-scheme" content="light"></meta>
            <meta name="supported-color-schemes" content="light"></meta>
        mj-attributes
            mj-all(Arial, Helvetica, sans-serif)/
            mj-image(padding='0' border='none')/
        mj-style.
            .hover:hover td, .hover:hover a{
                background-color: #684092 !important;
            }
    //- Body
    mj-body(background-color='#edf2f7')
        //- logo Ecosup Assurance
        block front
            include ../includes/_front
        //- hero Image
        block hero
            include ../includes/_hero
        //- signature
        block signature
            include ../includes/_signature
        //- contenu
        block content
        //- Block TA
        block Taxe Apprentissage
            include ../includes/_TA
        //- FOOTER
        //- footer adresse
        block adresse
            include ../includes/_adresse
        //- footer réseaux sociaux
        block resociaux
            include ../includes/_resociaux
        //- footer législation
        block regl
            include ../includes/_regl