extends templates/_layout
block content
        //- logo Ecosup Assurance
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='250px')
                mj-image(width='140px' src='https://img.mailinblue.com/3403292/images/content_library/original/6631e75e524b5b6d34b88b1b.png' alt='Logo Ecosup Assurance')/
        //- introduction à l'annonce et titre de l'annonce
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='500px')
                mj-text(align='center' font-size='16px' font-weight='900' line-height='20px' color='#06CE06' text-transform='uppercase' padding-top='0' padding-bottom='0') taxe d'apprentissage 2024 
                mj-text(align='center' font-size='38px' font-weight='300' line-height='40px' color='#684092' letter-spacing='-1px') Donnez du sens à votre #[span(style='color:#06CE06;') taxe d'apprentissage]
            mj-column(width='500px')
                mj-image(src='https://i.ibb.co/WfwpjVS/Graf-Taxe-Apprentissage.jpg' alt='graphisme sur la taxe d\'apprentissage')/
        //- Introduction
        mj-section(background-color='#ffffff' padding='0')
            mj-column(width='50px')
                mj-image(padding='0' alt='Icon Entreprise' src='https://i.ibb.co/PWtTS3R/appartement.jpg')/
            mj-column(width='450px')
                mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' align='left' padding-bottom='0') Contribution obligatoire, la #[span(style='font-weight:500') taxe d'apprentissage] offre la liberté... celle de choisir l'organisme de formation que votre entreprise souhaite soutenir. #[span(style='font-weight:500;') Vous avez la main !]
                mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' align='left' padding-top='0') Alors, donnez du sens à votre contribution, optez pour #[span(style='font-weight:500;text-transform:uppercase;color:#93278F;') Ecosup Assurance] - code UAI #[span(style='font-weight:500;color:#93278F;') 0595877T].
        //- Titre argument
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='500px')
                mj-text(font-size='20px' line-height='24px' font-weight='300' color='#93278F' text-transform='uppercase' align ='left' padding-top='0' padding-bottom='5px') Pourquoi choisir Ecosup Assurance
        //- Argument 01
        mj-section(background-color='#ffffff' padding-top='0')
            mj-column(width='50px')
                mj-image(padding='0' alt='Icon numero 1' src='https://i.ibb.co/4j0M62F/1.jpg')/
            mj-column(width='450px')
                mj-text(font-size='16px' line-height='20px' font-weight='700' color='#684092' text-transform='uppercase' align ='left' padding-top='0' padding-bottom='0') Financement de l'apprentissage
                mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' align='left' padding-top='0' padding-bottom='0') Votre taxe d'apprentissage permet de financer nos #[span(style='font-weight:500;') BTS Assurance] et #[span(style='font-weight:500;') Bachelor Chargé(e) de Clientèles en Assurance et Banque].
        //- Argument 02
        mj-section(background-color='#ffffff' padding-top='0')
            mj-column(width='50px')
                mj-image(padding='0' alt='Icon numero 2' src='https://i.ibb.co/nbMQNYv/2.jpg')/
            mj-column(width='450px')
                mj-text(font-size='16px' line-height='20px' font-weight='700' color='#684092' text-transform='uppercase' align ='left' padding-top='0' padding-bottom='0') Développement des compétences
                mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' align='left' padding-top='0' padding-bottom='0') En versant la taxe à #[span(style='font-weight:500;text-transform:uppercase;color:#93278F;') Ecosup Assurance], votre entreprise favorise le développement des compétences nécessaires pour répondre aux besoins des métiers de l'Assurance et de la Banque.
        //- Argument 03
        mj-section(background-color='#ffffff' padding-top='0')
            mj-column(width='50px')
                mj-image(padding='0' alt='Icon numero 3' src='https://i.ibb.co/X2PGBz0/3.jpg')/
            mj-column(width='450px')
                mj-text(font-size='16px' line-height='20px' font-weight='700' color='#684092' text-transform='uppercase' align ='left' padding-top='0' padding-bottom='0') Soutien à l'insertion professionnelle
                mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' align='left' padding-top='0' padding-bottom='0') Le versement de cette taxe à #[span(style='font-weight:500;text-transform:uppercase;color:#93278F;') Ecosup Assurance], organisme de formation, aide à l'insertion professionnelle des jeunes.
        //- Argument 04
        mj-section(background-color='#ffffff' padding-top='0')
            mj-column(width='50px')
                mj-image(padding='0' alt='Icon numero 4' src='https://i.ibb.co/XC6wS79/4.jpg')/
            mj-column(width='450px')
                mj-text(font-size='16px' line-height='20px' font-weight='700' color='#684092' text-transform='uppercase' align ='left' padding-top='0' padding-bottom='0') Contribution à l'économie
                mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' align='left' padding-top='0' padding-bottom='0') En soutenant nos formations supérieures en apprentissage, votre entreprise contribue indirectement à la croissance économique en formant une main-d'œuvre qualifiée.
        //- call to action
        mj-section(background-color='#ffffff' padding='0')
            mj-column(width='500px')
                mj-button(css-class='hover' href='https://employeurs.soltea.education.gouv.fr/idp/ta5/oauth/authorize?provider=netentreprise&target=employeur&response_type=code&client_id=819066ca-4142-4050-bc4e-94442482ef27&state=SnJYenpYbEV6bU8yQUF2YmtTNUxEVUlGOFZBX3RSaldPc2NEcU1seURiSmJj&redirect_uri=https:%2F%2Femployeurs.soltea.education.gouv.fr%2Fespace-prive%2F&scope=openid%20profile%20TA5_READ%20TA5_WRITE&code_challenge=coOv530E3CTK6ajNlby303D839rM0nJcsBZmj_PKOi0&code_challenge_method=S256&nonce=SnJYenpYbEV6bU8yQUF2YmtTNUxEVUlGOFZBX3RSaldPc2NEcU1seURiSmJj') Versement Taxe Apprentissage
        //- Comment
        mj-section(padding-bottom='0')
            mj-column(width='500px')
                mj-text(font-size='20px' line-height='24px' font-weight='300' color='#93278F' text-transform='uppercase' align ='left' padding-top='0' padding-bottom='5px') la taxe d'apprentissage mode d'emploi
        mj-section(padding-top='0')
            mj-group(width='520px')  
                mj-column(width='50%' padding='10px') 
                    mj-image( align='right' width='280px' alt='vidéo : Comment accéder à la plateforme SOLTéA' src='https://i.ibb.co/KV9ZY5P/acceder-Plateforme.png' href='https://youtu.be/RAXWqlWvcIw?si=a465ZPxZew2cidt8')     
                    mj-text(padding-bottom='0' padding-left='0' padding-right='0' font-size='16px' font-weight='400' line-height='20px') Comment accéder à la plateforme de répartition du solde ?
                mj-column(width='50%' padding='10px')      
                    mj-image(align='left' width='280px' alt='vidéo : chercher' src='https://i.ibb.co/mvDz873/comment-Chercher-Etablissement.png' href='https://youtu.be/SheDMkA54CY?si=8UYwBMqmR1bmNmi8')     
                    mj-text(padding-bottom='0' padding-left='0' padding-right='0' font-size='16px' font-weight='400' line-height='20px') Comment rechercher un établissement de formation pour affecter le solde ?
