extends templates/_layout
block content
        //- logo Ecosup Assurance
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='250px')
                mj-image(width='140px' src='https://img.mailinblue.com/3403292/images/content_library/original/6631e75e524b5b6d34b88b1b.png' alt='Logo Ecosup Assurance')/
        //- introduction à l'annonce et titre de l'annonce
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='500px')
                mj-text(align='center' font-size='16px' font-weight='900' line-height='20px' color='#06CE06' text-transform='uppercase' padding-top='0' padding-bottom='0') cv book 04062024 
                mj-text(align='center' font-size='38px' font-weight='300' line-height='40px' color='#684092' letter-spacing='-1px') À la recherche de #[span(style='color:#06CE06;') nouveaux collaborateurs]
            mj-column(width='500px')  
                mj-text(font-size='16px' font-weight='400' line-height='20px') Notre #[span(style='font-weight:500;') CV Book] régulièrement actualisé regroupe des étudiants qui, après vérification leur dossier et un entretien ont été selectionnée pour préparerrentré en BTS ou Bachelor.
            mj-column(width='250px')
                mj-button(background-color='#BA4995' font-size='16px' line-height='20px' font-weight='500' inner-padding='15px 30px' border-radius='10px') J'en profite
                mj-text( font-size='16px' font-weight='400' line-height='20px' container-background-color='#dadada') code CVBook062024
                 